# Arquivos do sistema
*.log
*.pyc
*.pyo
*.env

# Banco de dados local
db.sqlite3

# Configuração do editor (VS Code, PyCharm)
.vscode/
.idea/

# Dependências e virtualenv
venv/
.venv/
.env
.idea
__pycache__/
pip-wheel-metadata/

# Arquivos do Django
static/
media/
migrations/

# Chaves de configuração (segurança)
settings.py
.env
